@model WebApp.Models.ViewModels.HomeVM

<div class="container">
    <div class="text-center">
        <p>Nombre: Álvaro Javier Celis</p>
        <p>Fecha: Noviembre 28, 2022</p>
        <p>Motivo: Prueba técnica Sophos</p>
    </div>
    <br/>
    <div class="row">
  
    </div>
</div>